<div class="todo-new">
  <%= form_for(todo, :remote => true) do |f| %>
    <%= f.hidden_field :tag_list %>
    <div class="input-group">
      <div class="input-group-btn">
        <button class="btn btn-default" id="add-tags-button" type="button" data-toggle="popover">
          <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
        </button>
      </div>
      <%= f.text_field :title, placeholder: 'Create new task', class: 'form-control', autofocus: true, 'data-behavior' => 'submit_on_enter' %>
      <span class="input-group-btn">
        <%= button_tag raw('<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>'), class: 'btn btn-default' %>
      </span>
    </div>
  <% end %>
  <div class="hidden" id="add-tags-popover">
    <div>
      <%= label_tag 'add_tag_field', 'Add new tags', class: 'sr-only' %>
      <%= text_field_tag 'add_tag_field', nil, placeholder: 'Add new tags', size: 10, class: 'form-control' %>
    </div>
    <div id="pending-tags">
    </div>
  </div>
</div>